@import "../../styles/placeholder";
@import "../../styles/variables";

.action-container {
  color: #000;

  .semi-circle {
    @extend %ease;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 50rem 50rem 0 0;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
    
    &:hover {
      border-radius: 0;
    }
  }
}
