@import "./variables";
/**
* @desc         common style goes here. also known as global.
* @requires     none
*/

.skeleton-grid {
  grid-gap: 32px 56px;
  padding: 150px;
  @media (max-width: 768px) {
    padding: 150px $side-margin-sm;
    display: block;
    > * {
      margin-bottom: 32px;
    }
  }
}
