@import "../../styles/variables";
@import "../../styles/mixins";

.home {
  height: 100%;

  .content-wrapper {
    margin: $top-margin $side-margin 0;
    @include respond-to("small") {
      margin: $top-margin $side-margin-sm 0;
    }

    .shuffle-btn {
      display: none;
      @include respond-to("small") {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
        span {
          margin-left: 15px;
        }
      }
    }
  }

  .left {
    z-index: 1;
  }
  .right {
    z-index: 1;
    background: $secondary-color;

    .content-wrapper {
      margin: $top-margin 0 0;
      height: calc(100% - $top-margin);
      position: relative;
      @include respond-to("small") {
        margin: 10px 0;
      }
    }
  }
}
