@import "../../styles/variables";

.home {
  height: 100%;

  .content-wrapper {
    margin: 150px 26px 0;
  }

  .left {
    z-index: 1;
  }
  .right {
    z-index: 1;
    background: $secondary-color;

    .content-wrapper {
      margin: 150px 0 0;
    }
  }
}
