@import "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 132px;
  z-index: 5;
  position: relative;

  .links {
    cursor: pointer;
    color: $text-light-color;
    font-size: 18px;

    .active {
      font-weight: 500;
      color: $text-color;
    }
    > :first-child {
      margin-right: 50px;
    }
  }
}
