@import "../../styles/variables";
@import "../../styles/mixins";

.header-wrapper {
  margin: 0 $side-margin;
  position: relative;
  @include respond-to("small") {
    margin: 0 $side-margin-sm;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: absolute;
    width: 100%;
    top: 30px;

    a {
      cursor: pointer;
    }

    .links {
      color: $text-light-color;
      font-size: 18px;

      .active {
        font-weight: 500;
        color: $text-color;
      }
      > :first-child {
        margin-right: 50px;
      }
    }

    .fav-btn {
      @include respond-to("small") {
        display: none;
      }
    }
  }
}
